<div class="box-popup" id="box-popup" th:fragment="footer"></div>

<div class="box-popup-chck" id="box-popup-chck" th:fragment="footer">
    <div class="popup-chck" id="popup-chck">
        <div class="head each">
            <i class="fas fa-times cursor-pointer-custom" id="cross-popup-chck"></i>
        </div>
        <div class="text each"></div>
        <div class="btn-pc each">
            <button class="montserrat cursor-pointer-custom" id="btn-popup-chck">batal</button>
            <button class="montserrat cursor-pointer-custom" id="btn-popup-chck">lanjut</button>
        </div>
    </div>
</div>

<footer th:fragment="footer">
    <div class="footer1">
        <div>
            <p class="head-footer">halaman</p>
            <a href="">belanja</a>
            <a href="">keranjang</a>
            <a href="">checkout</a>
            <a href="">akun</a>
        </div>

        <div>
            <p class="head-footer">produk</p>
            <a href="/shop?ctg=MJA">meja</a>
            <a href="/shop?ctg=ELT">elektronik</a>
            <a href="/shop?ctg=DPR">dapur</a>
            <a href="/shop">dll...</a>
        </div>

        <div>
            <p class="head-footer">produk terlaris</p>
            <a href="/shop?ctg=KRS">kursi</a>
            <a href="/shop?ctg=LMR">lemari</a>
            <a href="/shop?ctg=TDR">tempat tidur</a>
            <a href="/shop">dll...</a>
        </div>

        <div>
            <p class="head-footer">kontak</p>
            <a href="http://wa.me/6285648234765">whatsapp</a>
        </div>
    </div>
</footer>